<ion-header>
  <ion-toolbar>
    <ion-title>Contas a Pagas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding"> <br>

  <form [formGroup]="contasForm" (submit)="registraConta()">

    <ion-item>
      <ion-icon name="person" color="if" slot="start"></ion-icon>
      <ion-input formControlName="parceiro" placeholder="Parceiro Comercial" autofocus="true"></ion-input>
    </ion-item>

    <br>

    <ion-item>
      <ion-icon name="document" color="if" slot="start"></ion-icon>
      <ion-input formControlName="descricao" placeholder="Descrição" autofocus="true"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="wallet" color="if" slot="start"></ion-icon>
      <ion-input formControlName="valor" type="number" placeholder="Valor" autofocus="true"></ion-input>
    </ion-item>

    <br><br>
    
    <ion-radio-group  formControlName="tipo" >
      
      <ion-item>
        <ion-label>A pagar</ion-label>
        <ion-radio slot="start" value="pagar"></ion-radio>
      </ion-item>
      
      <ion-item>
        <ion-label>A receber</ion-label>
        <ion-radio slot="start" value="receber"></ion-radio>
      </ion-item>

    </ion-radio-group>

    <br><br>
    <ion-button [disabled]="contasForm.invalid" type="submit" expand="block" size="large" color="if">Enviar
    </ion-button>
    
  </form>

</ion-content>
