#logo-div {
    height: 45%;
    display: flex;
    align-items: center; //alinhamento vertical
    justify-content: center;
    padding: 5%;

    h3 {
        text-align: center;
    }

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 28%;
    }

    p {
        text-align: center;
    }
}