<ion-header>
  <ion-toolbar>
    <ion-title>Contas a Pagar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-list>

    <ion-item *ngFor="let conta of listaContas" >

      <ion-label>
        <h2>{{ conta.parceiro }}</h2>
        <p>{{ conta.descricao }}</p>
        <h3>R$ {{ conta.valor }}</h3>
      </ion-label>
      
      
    </ion-icon slot="end" name="person" (click)="remove(conta)" ></ion-icon> 
  </ion-item>
  </ion-list>

</ion-content>
